/* color palette from <https://github.com/vuejs/theme> */

@font-face {
  font-family: "kuga";
  src: url(../../assets/fonts/kuga.otf);
}
@font-face {
  font-family: "Neue-reg";
  src: url(../../assets/fonts/NeueMachina-Regular.otf);
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --font-main: "kuga";

}

a{
  text-decoration: none;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}