/* color palette from <https://github.com/vuejs/theme> */

@font-face {
  font-family: "kuga";
  src: url(../../assets/fonts/kuga.otf);
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --font-main: "kuga";

}

a{
  text-decoration: none;
}