@import './base.css';
@import './font.scss';
@import './hoeroBanner.scss';
@import './InterBoxTitre.scss';
@import './SmallColLIst.scss';
@import './projectStyleZone.scss';



#app{
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;
  padding: 2.5vh 3.4vw;
  font-family: 'Neue-reg';
  margin: 0 0 80px 0;

}

@media(min-width:900px){
  #app{

    padding: 2.5vh 1.5vw;
  
  }
}

