@import './base.css';
@import './font.scss';
@import './hoeroBanner.scss';
@import './InterBoxTitre.scss';
@import './SmallColLIst.scss';
@import './AboutQtyle.scss';
@import './projectStyleZone.scss';



*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing:border-box;
}
main{
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;
  padding: 2.5vh 3.4vw;
  font-family: 'Neue-reg';
  margin: 0 0 80px 0;
  overflow-x: hidden;
  border: blue 1px solid;
}

@media(min-width:900px){
 main{

    padding: 2.5vh 1.5vw;
  
  }
}

