@import './base.css';
@import './font.scss';
@import './hoeroBanner.scss';



#app{
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;
  padding: 2.5vh 3.4vw;

}

@media(min-width:900px){
  #app{

    padding: 2.5vh 1.5vw;
  
  }
}

